.page {
    width: 80%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px
}
.info {
  color: white;
}
.article {
  color: orange;
}
a {
  font-size: normal;
  color:darkorange;
}
body {
  background-color: rgb(80, 59, 7);
}
img {
  width: 50px;
  height: 50px;
}
